

.content{
    background-color: #ccb4b4;
    
    padding:80px 0px;
    margin-top: 5rem

    
}
.card{
    // &:hover{
    //     border: 2px solid #ccb4b4;
    //     cursor: pointer;
        
    // }
}

// .btnFixed{
//     padding: 5px 10px;
//     cursor: pointer;
//     color: white;
//     border: 1px solid white;
//     background-color: green;
//     font-size: 30px;
//     border-radius: 10px;
// }